In [1]:
from pyspark.sql import SparkSession

spark = SparkSession \
    .builder \
    .appName("Python Spark data cleaning and engineering") \
    .config("spark.some.config.option", "some-value") \
    .getOrCreate()

In [2]:
file_location = "datasets/loan_data_cleaned.csv"
file_type = "csv"

# CSV options
infer_schema = "false"
first_row_is_header = "True"
delimiter = ","

# The applied options are for CSV files. For other file types, these will be ignored.
df = spark.read.format(file_type) \
  .option("inferSchema", infer_schema) \
  .option("header", first_row_is_header) \
  .option("sep", delimiter) \
  .load(file_location)

display(df)

DataFrame[20550.0: string, 1 year: string, 26.042: string, 03: string, 31.10%: string, 36: string, 60 months: string, MORTGAGE: string, D: string, credit_card: string, 17.97%: string, IN: string, Fully Paid: string, Individual: string, 94000.0: string, 015: string, _c16: string, 60: string, 1: string, 31.0: string, 43.76206961077844: string, 26.0421: string, No: string]

In [7]:
df_pandas = df.toPandas()

In [8]:
df_pandas

,20550.0,1 year,26.042,03,31.10%,36,60 months,MORTGAGE,D,credit_card,...,Individual,94000.0,015,_c16,60,1,31.0,43.76206961077844,26.0421,No
0,35000.0,5 years,22.64,1,73%,35,36 months,MORTGAGE,D,debt_consolidation,...,Individual,275000.0,1,None,36,5,73.0,43.76206961077844,22.64,No
1,10000.0,10+ years,7.61,0,64.40%,10,60 months,MORTGAGE,C,credit_card,...,Individual,62000.0,0,None,60,10,64.0,43.76206961077844,7.61,No
2,29075.0,6 years,21.52,1,0%,25,36 months,MORTGAGE,D,home_improvement,...,Individual,225000.0,1,None,36,6,0.0,43.76206961077844,21.52,No
3,18000.0,8 years,9.54,0,95.50%,14,36 months,RENT,A,debt_consolidation,...,Individual,85200.0,0,None,36,8,95.0,43.76206961077844,9.54,No
4,9000.0,1 year,16.34,3,12.30%,10,36 months,RENT,B,debt_consolidation,...,Individual,34000.0,0,None,36,1,12.0,43.76206961077844,16.34,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128395,23000.0,10+ years,20.95,1,43.60%,28,36 months,MORTGAGE,C,debt_consolidation,...,Individual,75000.0,0,None,36,10,43.0,43.76206961077844,20.95,Yes
128396,10000.0,5 years,13.16,3,37.10%,16,36 months,MORTGAGE,C,debt_consolidation,...,Individual,38000.0,0,None,36,5,37.0,43.76206961077844,13.16,No
128397,5000.0,10+ years,11.3,1,27.30%,15,36 months,MORTGAGE,C,debt_consolidation,...,Individual,35360.0,0,None,36,10,27.0,43.76206961077844,11.3,No
128398,10000.0,n/a,11.78,0,13.10%,25,36 months,RENT,B,credit_card,...,Individual,44400.0,0,None,36,None,13.0,43.76206961077844,11.78,No
128399,10000.0,2 years,17.72,1,30.80%,31,36 months,RENT,C,other,...,Individual,80000.0,0,None,36,2,30.0,43.76206961077844,17.72,No

In [4]:
display(df.describe())

DataFrame[summary: string, 20550.0: string, 1 year: string, 26.042: string, 03: string, 31.10%: string, 36: string, 60 months: string, MORTGAGE: string, D: string, credit_card: string, 17.97%: string, IN: string, Fully Paid: string, Individual: string, 94000.0: string, 015: string, _c16: string, 60: string, 1: string, 31.0: string, 43.76206961077844: string, 26.0421: string, No: string]

In [6]:
from pyspark.sql.functions import isnan, when, count, col, log
display(df.groupBy("addr_state").agg((count(col("annual_inc"))).alias("count")))

AnalysisException: cannot resolve '`addr_state`' given input columns: [015, 03, 1, 1 year, 17.97%, 20550.0, 26.042, 26.0421, 31.0, 31.10%, 36, 43.76206961077844, 60, 60 months, 94000.0, D, Fully Paid, IN, Individual, MORTGAGE, No, _c16, credit_card];;
'Aggregate ['addr_state], ['addr_state, count('annual_inc) AS count#1468]
+- Relation[20550.0#16,1 year#17,26.042#18,03#19,31.10%#20,36#21,60 months#22,MORTGAGE#23,D#24,credit_card#25,17.97%#26,IN#27,Fully Paid#28,Individual#29,94000.0#30,015#31,_c16#32,60#33,1#34,31.0#35,43.76206961077844#36,26.0421#37,No#38] csv